#### Connect to the database

In [1]:
import mysql.connector

# Establish a connection to the MySQL database

"""
To get hostname from MySQL deployed docker, 
run the following command `docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' <container ID>`
replace <container_ID> with the one we want to inspect. To get the id, just run `docker ps`
"""
connection = mysql.connector.connect(
    host='172.18.0.3',  # Replace with the appropriate host if necessary
    user='audino',
    password='audino',
    database='audino',
    port=3306,
)

# Create a cursor object to execute SQL queries
cursor = connection.cursor()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on '172.18.0.2:3306' (111)

In [45]:
# import mysql.connector

# # Establish a connection to the MySQL database

# """
# To get hostname from MySQL deployed docker, 
# run the following command `docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' <container ID>`
# replace <container_ID> with the one we want to inspect. To get the id, just run `docker ps`
# """
# connection = mysql.connector.connect(
#     host='172.18.0.2',  # Replace with the appropriate host if necessary
#     user='audino',
#     password='audino',
#     database='audino',
#     port=3306,
# )

# # Create a cursor object to execute SQL queries
# cursor = connection.cursor()

your_table = "data"
# Example query
query = f"SELECT * FROM {your_table}"
cursor.execute(query)

# Fetch all rows returned by the query
column_names = [column[0] for column in cursor.description]

# Print the column names
for column_name in column_names:
    print(column_name)

result = cursor.fetchall()

# Process the results
for row in result:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

id
project_id
assigned_user_id
filename
original_filename
reference_transcription
is_marked_for_review
created_at
last_modified
youtube_end_time
youtube_start_time
(1, 1, 3, '25c3753d8f554b5b9e11ac536b0a7589.wav', 'OSR_us_000_0010_8k.wav', None, 1, datetime.datetime(2023, 6, 14, 11, 26, 2), datetime.datetime(2023, 6, 14, 11, 26, 2), None, None)
(3, 1, 3, '649eeb948c7c482192f9e825d9f68f7b.wav', 'OSR_us_000_0010_8k.wav', b"The birch canoe slid on the smooth planks. Glue the sheet to the dark blue background. It's easy to tell the depth of a well. These days a chicken leg is a rare dish. Rice is often served in round bowls. The juice of lemons makes fine punch. The box was thrown beside the parked truck. The hogs were fed chopped corn and garbage. Four hours of steady work faced us. Large size in stockings is hard to sell.", 1, datetime.datetime(2023, 6, 14, 11, 29, 43), datetime.datetime(2023, 6, 14, 11, 29, 43), None, None)

#### Update the value in the selected column

In [43]:
# Define the column name and the new value
table_name = "data"
column_name = "assigned_user_id"
new_value = 3

# Execute the UPDATE query
query = f"UPDATE {table_name} SET {column_name} = %s"
values = (new_value,)
cursor.execute(query, values)

# Commit the changes to the database
connection.commit()

# Close the cursor and connection
cursor.close()
connection.close()